<div class="scrolls">
  <div id="content">
    <% if can? :create, @season %>
      <%= link_to "Add Season", new_season_path %>
    <% end %>
    <h2 class="title">Seasons</h2>
    <table class="season-data" border="2">
      <thead>
        <tr>
          <th>Year</th>
          <th>Wins</th>
          <th>Losses</th>
          <th>RS</th>
          <th>RA</th>
          <th>PCT</th>
        </tr>
      </thead>
      <tbody>
        <% @seasons.order(year: :asc).each do |season| %>
        <tr>
          <th><%= link_to season.year, season_path(season) %></th>
          <th><%= season.wins %></th>
          <th><%= season.losses %></th>
          <th><%= season.runs_scored %></th>
          <th><%= season.runs_allowed %></th>
          <th><%= season.percentage(season.wins, season.losses) %></th>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= render 'team_stats' %>
  </div>
</div>
