<div class="scrolls">
  <div id="content">
    <% if can? :update, @season %>
      <%= link_to "Edit Season", edit_season_path(@season) %>
    <% end %>
    <% if can? :create, @game %>
      <%#= link_to "Add Game", new_season_game_path(season: @season.games.build) %>
    <% end %>
    <h1 class="title">Moonrakers Summer <%= @season.year %> Season</h1>
    <div class="season-description">
      <p>
        <%= @season.description %>
      </p>
    </div>
    <table border="2">
      <thead>
        <tr>
          <th>Date</th>
          <th>Opponent</th>
          <th>Moonrakers Score</th>
          <th>Opponent Score</th>
        </tr>
      </thead>
      <tbody>
        <% @games.each do |game| %>
        <tr>
            <th><%= game.format_date(game.date)%></th>
            <th><%= link_to game.opponent, season_game_path(season_id: game.season_id, id: game.id) %></th>
            <th><%= game.home_score %></th>
            <th><%= game.opponent_score %></th>
          <% end %>
        </tr>
      </tbody>
    </table>
    <%#= render 'season_roster' %>
    <%= render 'season_player_stats' %>
  </div>
</div>
