<table border="2">
  <thead>
    <tr>
      <th>Moonrakers</th>
      <th>AB</th>
      <th>R</th>
      <th>H</th>
      <th>RBI</th>
      <th>BB</th>
      <th>SO</th>
      <th>AVG</th>
    </tr>
  </thead>
  <tbody>
    <% @game.statistics.each do |stat| %>
      <% if stat.game_id == @game.id %>
        <tr>
          <td><%= link_to (Player.find(stat.player_id).last_name + ", " + Player.find(stat.player_id).first_name[0] + " " + Player.find(stat.player_id).primary_position), player_path(Player.find(stat.player_id))  %> </td>
          <td><%= stat.plate_appearance %></td>
          <td><%= stat.runs %></td>
          <td><%= stat.hits %></td>
          <td><%= stat.rbis %></td>
          <td><%= stat.walks %></td>
          <td><%= stat.strikeouts %></td>
          <td><%= stat.batting_avg(stat.hits, stat.plate_appearance) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<span>
  <b>BATTING</b>
</span>
