<tbody>
  <% @player.seasons.order(year: :asc).each do |season| %>
    <tr>
      <td><%= link_to season.year, season_path(season) %></td>
      <td><%= @player.total_games(season.id) %></td>
      <td><%= @player.total_plate_appearance(season.id) %></td>
      <td><%= @player.total_at_bats(season.id) %></td>
      <td><%= @player.total_runs(season.id) %></td>
      <td><%= @player.total_hits(season.id) %></td>
      <td><%= @player.total_doubles(season.id) %></td>
      <td><%= @player.total_triples(season.id) %></td>
      <td><%= @player.total_homers(season.id) %></td>
      <td><%= @player.total_rbis(season.id) %></td>
      <td><%= @player.total_walks(season.id) %></td>
      <td><%= @player.total_strikeouts(season.id) %></td>
      <td><%= @player.total_sac_fly(season.id) %></td>
      <td><%= @player.total_bases(season.id) %></td>
      <td><%= @player.season_batting_avg(season.id) %></td>
      <td><%= @player.on_base_pct(season.id)  %></td>
      <td><%= @player.slugging_pct(season.id)  %></td>
      <td><%= @player.on_base_plus_slg %></td>
    </tr>
  <% end %>
  <tr class="last">
    <td>Totals</td>
    <td><%= @player.statistics.count %></td>
    <td><%= @player.total_plate_appearance %></td>
    <td><%= @player.total_at_bats %></td>
    <td><%= @player.total_runs %></td>
    <td><%= @player.total_hits %></td>
    <td><%= @player.total_doubles %></td>
    <td><%= @player.total_triples %></td>
    <td><%= @player.total_homers %></td>
    <td><%= @player.total_rbis %></td>
    <td><%= @player.total_walks %></td>
    <td><%= @player.total_strikeouts %></td>
    <td><%= @player.total_sac_fly %></td>
    <td><%= @player.total_bases %></td>
    <td><%= @player.season_batting_avg %></td>
    <td><%= @player.on_base_pct  %></td>
    <td><%= @player.slugging_pct  %></td>
    <td><%= @player.on_base_plus_slg %></td>
  </tr>
</tbody>
