<%= link_to "Add Player", new_player_path(@player) %>
<h2>Roster</h2>
<table border="2">
  <thead class="pitchers">
    <tr>
      <th>#</th>
      <th>Pitchers</th>
      <th>Bats</th>
      <th>Throws</th>
      <th>Height</th>
      <th>Weight</th>
      <th>DOB</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'players/pitchers' %>
  </tbody>
  <thead class="catchers">
    <tr>
      <th>#</th>
      <th>Catchers</th>
      <th>Bats</th>
      <th>Throws</th>
      <th>Height</th>
      <th>Weight</th>
      <th>DOB</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'players/catchers' %>
  </tbody>
  <thead class="infielders">
    <tr>
      <th>#</th>
      <th>Infielders</th>
      <th>Bats</th>
      <th>Throws</th>
      <th>Height</th>
      <th>Weight</th>
      <th>DOB</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'players/infielders' %>
  </tbody>
  <thead class="outfielders">
    <tr>
      <th>#</th>
      <th>Outfielders</th>
      <th>Bats</th>
      <th>Throws</th>
      <th>Height</th>
      <th>Weight</th>
      <th>DOB</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'players/outfielders' %>
  </tbody>
</table>
